<mat-card 
  class="custom-card-header"
  [ngClass]="'variant-' + variant"
  [ngStyle]="{ height: height, width: width }">
  
  <div 
    class="background-pattern"
    *ngIf="showBackgroundPattern">
  </div>
  
  <mat-card-content class="card-content">
    <h1 *ngIf="showTitle"
        class="card-title" 
        [ngClass]="{
            'title-style-default': titleStyle === 'default',
            'title-style-small': titleStyle === 'small'
        }">
      {{ title }}
    </h1>
    
    <div *ngIf="!showTitle" class="dynamic-content">
      <ng-content></ng-content>
    </div>
  </mat-card-content>
  
</mat-card>
