@use '../../../styles/colors' as *;
@use '../../../styles/fonts' as *;

.custom-card-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  
  &.variant-header {
    background-color: $card-background;
    border-radius: 12px !important;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  }
  
  &.variant-content {
    background: #FAFCFE;
    border-radius: 28px !important;
    box-shadow: none;
  }
  
  .background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    border-radius: 12px;
    background-image: url('../../../assets/images/logo-pattern-bg.png');
    background-size: 200px;
    background-repeat: repeat;
    background-position: 0 0;
    z-index: 1;
    pointer-events: none;
  }
  
  .card-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px !important;
    margin: 0 !important;
    
    .card-title {
      @include apply-typography($m3-display-large-emphasized);
      color: $m3-sys-light-on-surface;
      text-align: center;
      margin: 0;
      
      &.title-style-default {
        @include apply-typography($m3-display-large-emphasized);
        
        @media (max-width: 768px) {
          font-size: 40px;
          line-height: 48px;
        }
        
        @media (max-width: 480px) {
          font-size: 32px;
          line-height: 40px;
        }
      }

      &.title-style-small {
        @include apply-typography($m3-display-medium-emphasized);
        
        @media (max-width: 768px) {
          font-size: 28px;
          line-height: 52px;
        }
      }
    }
  }
  
  .mat-mdc-card {
    background-color: $card-background !important;
    border-radius: 12px !important;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3) !important;
  }
  
  @media (max-width: 768px) {
    min-height: 100px;
  }
  
  @media (max-width: 480px) {
    min-height: 80px;
  }

  .dynamic-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    .variant-content & {
      padding: 20px;
      min-height: calc(100% - 40px);
      
      @media (max-width: 768px) {
        padding: 15px;
        min-height: calc(100% - 30px);
      }
      
      @media (max-width: 480px) {
        padding: 10px;
        min-height: calc(100% - 20px);
      }
    }
  }
}
