@use '../../../styles/colors' as colors;
@use '../../../styles/fonts' as fonts;

.change-password-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 56px;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 522px;
  gap: 47px;
}

.form-title {
  @include fonts.apply-typography(fonts.$m3-display-medium-emphasized);
  color: colors.$m3-sys-light-on-surface;
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 26px;
  line-height: 2em;
}

.form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 47px;

  app-custom-text-field {
    width: 100%;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 97px;
  margin-top: 50px;

  app-custom-button {
    flex-shrink: 0;
  }
}
