<div class="change-password-content">
  <div class="change-password-form">
    <h1 class="form-title">Cambiar contraseña</h1>
    
    <div class="form-fields">
      <app-custom-text-field
        label="Nueva contraseña"
        placeholder="Ingresa la nueva contraseña"
        type="password"
        [value]="newPassword"
        (valueChange)="onNewPasswordChange($event)">
      </app-custom-text-field>
      
      <app-custom-text-field
        label="Confirmar contraseña"
        placeholder="Ingresa de nuevo la contraseña"
        type="password"
        [value]="confirmPassword"
        (valueChange)="onConfirmPasswordChange($event)">
      </app-custom-text-field>
    </div>
    
    <div class="form-actions">
      <app-custom-button
        text="Cancelar"
        variant="secondary"
        size="small"
        (onClick)="onCancel()">
      </app-custom-button>
      
      <app-custom-button
        text="Guardar"
        variant="primary"
        size="small"
        (onClick)="onSave()">
      </app-custom-button>
    </div>
  </div>
</div>
