<div class="custom-listbox-container">
  
  <div class="listbox-label" *ngIf="label">{{ label }}</div>
  
  <mat-form-field 
    appearance="outline"
    class="custom-listbox">
    
    <mat-select 
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [required]="required"
      [multiple]="multiple"
      (selectionChange)="onSelectionChange($event.value)"
      class="listbox-select">
      
      <mat-option 
        *ngFor="let option of options" 
        [value]="option.value"
        [disabled]="option.disabled"
        class="listbox-option">
        {{ option.label }}
      </mat-option>
      
    </mat-select>
    
  </mat-form-field>
  
</div>