@use 'sass:map';

$font-family-base: 'Roboto', "Helvetica Neue", sans-serif;

$m3-display-large-emphasized: (
  font-family: $font-family-base,
  font-weight: 500,
  font-size: 57px,
  line-height: 64px,
  letter-spacing: -0.25px
);

$m3-title-medium: (
  font-family: $font-family-base,
  font-weight: 500,
  font-size: 16px,
  line-height: 24px,
  letter-spacing: 0.15px
);

$m3-title-large: (
  font-family: $font-family-base,
  font-weight: 500,
  font-size: 18px,
  line-height: 28px,
  letter-spacing: 0.1px
);

$m3-body-large: (
  font-family: $font-family-base,
  font-weight: 400,
  font-size: 16px,
  line-height: 24px,
  letter-spacing: 0.5px
);

$m3-body-small: (
  font-family: $font-family-base,
  font-weight: 400,
  font-size: 12px,
  line-height: 16px,
  letter-spacing: 0.4px
);

$login-title: (
  font-family: $font-family-base,
  font-weight: 400,
  font-size: 24px,
  line-height: 52px,
  letter-spacing: 0
);

$login-footer-primary: (
  font-family: $font-family-base,
  font-weight: 400,
  font-size: 20px,
  line-height: 51px,
  letter-spacing: 0
);

$login-footer-secondary: (
  font-family: $font-family-base,
  font-weight: 400,
  font-size: 18px,
  line-height: 49px,
  letter-spacing: 0
);

$listbox-label: (
  font-family: $font-family-base,
  font-weight: 400,
  font-size: 16px,
  line-height: 19px,
  letter-spacing: 0
);

$listbox-option: (
  font-family: $font-family-base,
  font-weight: 400,
  font-size: 16px,
  line-height: 20px,
  letter-spacing: 0
);

@mixin apply-typography($style-map) {
  font-family: map.get($style-map, 'font-family');
  font-weight: map.get($style-map, 'font-weight');
  font-size: map.get($style-map, 'font-size');
  line-height: map.get($style-map, 'line-height');
  letter-spacing: map.get($style-map, 'letter-spacing');
}