<div class="main-layout-container">
  
  <app-custom-nav-rail
    class="nav-rail-section"
    [selectedItemId]="selectedNavItem"
    [opened]="navRailOpened"
    [mode]="navRailMode"
    (itemClick)="onNavItemClick($event)"
    (logoutClick)="onLogout()"
    (openedChange)="onNavRailOpenedChange($event)">
  </app-custom-nav-rail>
  
  <app-custom-card-header
    class="content-area"
    variant="content"
    [height]="contentHeight"
    [width]="contentWidth"
    [showTitle]="false"
    [showBackgroundPattern]="showBackgroundPattern">
    
    <div [ngSwitch]="selectedNavItem">
      <app-home 
        *ngSwitchCase="'inicio'"
        (navigateToInventory)="onNavigateToInventory()">
      </app-home>
      
      <app-inventory 
        *ngSwitchCase="'inventario'"
        (navigateToHome)="onNavigateToHomeFromInventory()">
      </app-inventory>
      
      <app-change-password 
        *ngSwitchCase="'perfil'" 
        (navigateToHome)="onNavigateToHome()">
      </app-change-password>
      
      <div *ngSwitchDefault class="default-content">
        <ng-content></ng-content>
      </div>
    </div>
    
  </app-custom-card-header>
  
</div>