<mat-dialog-content class="text-content">
  <div class="title-description">
    <h2 class="dialog-title">{{ data.title || 'Tu cuenta ha sido creada exitosamente' }}</h2>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <div class="actions-container">
    <app-custom-button
      [text]="data.buttonText || 'Entrar'"
      variant="primary"
      size="medium"
      class="signup-button"
      (onClick)="onAction()">
    </app-custom-button>
  </div>
</mat-dialog-actions>
